.toggleContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: var(--primary-color);
  color: white;
}

.activeButton {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
